#footer-child-container {
    flex-wrap: nowrap;
}
.footer-link-el {
    margin-right: 30px;
}

@media (min-width: 1200px) {
    .footer-link-el {
        margin-right: 60px;
        font-size: 24px;
    }
}